
<div class="list-group users">
    <h3 class="list-group-item active text-center" style="margin: 0 !important;">New users :</h3>
    {% block newUsers %}
        {% for user in datas.newUsers %}
            <div>
                <a class="list-group-item btn-default clearfix" href="{{ path('user-profil', {'slug_username': user.slug}) }}">
                    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" width="50" height="auto" />
                    <span>
                        {{ user.username }}
                        <icon class="glyphicon glyphicon-chevron-right"></icon>
                    </span>
                </a>
            </div>
        {% endfor %}
    {% endblock %}
</div>
