<header>
    {% include "@ProjectUserBundle/Resources/views/Login/login.html.twig" %}
</header>

<main class="main main_default">
    <div class="container">
        <div class="text-center">
            <h1 class="col-md-12">Dayli Playlist</h1>
        </div>
        <div>
            <article class="col-md-8">
                <p>Name</p>
                <p>Genre</p>
                <p>Owner</p>
            </article>
            <div class="col-md-4"><a><button>Add to my music</button></a></div>
            <div class="col-md-4"><a><button>Trash</button></a></div>
        </div>
    </div>
    <div>

    </div>
</main>


