{% extends "@ProjectBundle/Resources/views/Default/layout.html.twig" %}

{% block main %}
    <style>
        #homeNotAuth{
            width:100%;
            margin-top: 100px;
            height:200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        #homeNotAuth div{
            width:50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        #homeNotAuth h1{
            font-size: 60px;
        }

    </style>
    <div id="homeNotAuth" class="text-center">
        <h1 class="nopadding">The way your day sounds !</h1>
        <div>
            <div>
                <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">sign in</a>
            </div>
            <div>
                <a class="btn btn-warning" href="{{ path('fos_user_registration_register') }}">sign up</a>
            </div>
        </div>
    </div>
{% endblock %}
