{% extends "@ProjectBundle/Resources/views/Default/layout.html.twig" %}

{% block main %}

    {% if datas is defined %}

        <div class="container home">
            <div class="row">
                <h1 class="col-lg-12 text-center">Dayli Playlist</h1>
            </div>
            <div class="row">
                <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {% if datas.newUsers is defined %}
                        {% include "@ProjectBundle/Resources/views/Users/new-users.html.twig" %}
                    {% endif %}
                    {% if datas.latestPlaylists is defined %}
                        {% include "@ProjectBundle/Resources/views/Playlists/latest-playlist.html.twig" %}
                    {% endif %}
                </section>

                <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">

                        {% if datas.dayliSounds is defined %}
                            {% include "@ProjectBundle/Resources/views/Playlists/daysounds.html.twig" %}
                        {% endif %}





                </section>
                <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">

                        <div class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                           <h3 class="list-group-item active text-center "> Filter by :</h3>
                            <a class="list-group-item">Artists</a>
                            <a class="list-group-item">Kind</a>
                            <a class="list-group-item">Owner</a>
                            <a class="list-group-item">Most recent</a>
                            <a class="list-group-item">Most listened</a>
                        </div>
                    
                </section>
            </div>
        </div>


    {% endif %}

    {% block fos_user_content %}{% endblock %}
    {% block settingsBlock %}{% endblock %}


{% endblock %}



