<html>
<head>
    <title>Daysounds</title>
    {#<link rel="stylesheet" href="../../../../../web/assets/bootstrap/css/bootstrap.min.css" />#}
    <link rel="stylesheet" href="{{ asset('bundles/project/bootstrap/css/bootstrap.min.css') }}" />
</head>

<body>
    {% include "@ProjectBundle/Resources/views/Default/header.html.twig" %}
    {% block main %}{% endblock %}
</body>

</html>