{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{% block playlist %}
    <ul class="sounds-in-playlist">
        {% for sound in datas.sounds %}
            <li>
                <a  href="#">{{ sound.name }}</a>
                {% if datas.actions %}
                    <ul class="action">

                    </ul>
                {% endif %}
                <!-- iframe integration -->
                {% include "@ProjectBundle/Resources/views/Playlists/sound-iframe.html.twig" %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}