{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{% block playlist %}
    <div class="sounds-in-playlist panel panel-default">
        <h1 class=" text-center btn-primary">SOund list</h1>
        {% for sound in datas.sounds %}
            <div style="margin-bottom: 29px;">
                <h3 class="text-center"><a  href="#">{{ sound.name }}</a></h3>
                <!-- iframe integration -->
                {% include "@ProjectBundle/Resources/views/Playlists/sound-iframe.html.twig" %}
                    <div class="dropdown panel-heading" style="border-bottom: 2px solid #df691a" >
                        <a href="#" class="dropdown-toggle btn btn-lg btn-success"
                           data-toggle="dropdown" role="button" aria-expanded="false">Add sound to playlist <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for list in datas.listPlaylists %}
                                <li>
                                    <a class="btn btn-lg btn-danger" href="{{ path('add_sound_to_this_playlist',
                                    {'playlist_id': list.id, 'sound_id':sound.id}) }}">{{ list.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}