{% extends "ProjectBundle:Default:index.html.twig" %}

{% block settingsBlock %}
<ul class="list-group fos_user_user_show">
    <li class="list-group-item">
        username : {{ user.username }}
    </li>
    <li class="list-group-item">
       email :  {{ user.email }}
    </li>
</ul>
{% endblock %}
