{% extends "ProjectBundle:Default:index.html.twig" %}

{% block settingsBlock %}
    <h1 class="btn-primary text-center"> account informations</h1>


    <div class="panel panel-default">
        <div class="panel-heading">username : {{ user.username }}</div>
        <div class="panel-body">
            email :  {{ user.email }}
        </div>
        <div class="panel-heading">
            <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
        </div>
    </div>
{% endblock %}
