{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">Register now !</h1>

<div class="container">
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}


    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />





{{ form_end(form) }}
</div>














