{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">Register now !</h1>

<div class="container">
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}


        <a href="#" value="{{ 'registration.submit'|trans }}" class="btn btn-primary">Register</a>





{{ form_end(form) }}
</div>














