{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{% block form %}
    {{ form_start(datas.form) }}
        {{ form_widget(datas.form) }}
        <p><input type="submit" value="Add playlist"></p>
    {{ form_end(datas.form) }}
{% endblock %}