 <div class="col-lg-12">
        {% for sound in datas.dayliSounds %}
            <div class="list-group margin-bottom: 29px;">
                <div class="list-group-item">
                    <h5 class="sound-name">{{ sound.name }}</h5>
                </div>
                <!-- iframe integration -->
                {% include "@ProjectBundle/Resources/views/Playlists/sound-iframe.html.twig" %}
                <div class="actions-sound">
                    <div class="dropdown">
                        <a style="float:left;" href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button" aria-expanded="false">Add sound to playlist <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            {% for list in datas.listPlaylists %}
                                <div>
                                    <a  href="{{ path('add_sound_to_this_playlist',
                                    {'playlist_id': list.id, 'sound_id':sound.id}) }}">{{ list.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
 </div>
