<h2>Latest Playlists</h2>
<ul>
    {% block latestPlaylists %}
        {% for playlist in datas.latestPlaylists %}
            <li>
                <a  href="{{ path('playlist_sounds',
                {"slug_username": playlist.user.slug, "playlist_slug": playlist.slug}) }}">{{ playlist.id }} {{ playlist.name }}</a>
            </li>
        {% endfor %}
    {% endblock %}
</ul>