<h2>Latest Playlists</h2>
<ul>
    {% block listePlaylist %}
        {% for playlist in datas.listePlaylist %}
            <li>
                <a  href="#">{{ playlist.id }} {{ playlist.name }}</a>
            </li>
        {% endfor %}
    {% endblock %}
</ul>