<h2>Latest Playlists</h2>
<ul>
    {% block latestPlaylists %}
        {% for playlist in datas.latestPlaylists %}
            <li>
                <a  href="{{ path('playlist_sounds', {'id': playlist.id }) }}">{{ playlist.id }} {{ playlist.name }}</a>
            </li>
        {% endfor %}
    {% endblock %}
</ul>