<div class="list-group">
    <h3 class="list-group-item active text-center" style="margin-top: 0; letter-spacing: -1px;">Latest Playlists :</h3>
    {% block latestPlaylists %}
        {% for playlist in datas.latestPlaylists %}
            <div>
                <a class="list-group-item btn-default" href="{{ path('playlist_sounds',
                {"slug_username": playlist.user.slug, "playlist_slug": playlist.slug}) }}">{{ playlist.name }}<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        {% endfor %}
    {% endblock %}
</div>