{{ form_start(form) }}

    {{ form_widget(form) }}
    <p><input type="submit" value="Add sound"></p>

    <p class="player-type">Support Youtube and Soundcloud</p>

{{ form_end(form) }}

<!-- just to test -->

<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

<script type="application/javascript">

    $("#add_sound_link").on("keyup", function(){

        clearTimeout($.data(this, 'timer'));

        var val = $(this).val();

        var wait = setTimeout(function(){

            $.ajax({
                url: '/test-link-sound',
                type: 'POST',
                data: 'link=' + val,
                dataType: 'html',

                success: function (response, statut) {

                    if(response !== "{}"){
                        var obj = $.parseJSON(response);
                        $(".player-type").html("Player " + obj.name);

                    } else {
                        // testing
                        $(".player-type").html("Aucun player reconnu");
                    }
                },

                error: function (resultat, statut, erreur) {

                },

                complete: function (resultat, statut) {

                }
            });



        }, 500);

        $(this).data('timer', wait);


    });



</script>