{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{% block form %}
    {{ form_start(datas.form) }}
        {{ form_widget(datas.form) }}
        <p><input type="submit" value="Add sound"></p>
        <p class="player-type">Support Youtube and Soundcloud</p>
    {{ form_end(datas.form) }}

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

    <script type="application/javascript">

        $("#add_sound_link").on("keyup", function(){

            clearTimeout($.data(this, 'timer'));

            var val = $(this).val();

            var wait = setTimeout(function(){

                $.ajax({
                    url: '/test-link-sound',
                    type: 'POST',
                    data: 'link=' + val,
                    dataType: 'html',

                    success: function (response, statut) {

                        if(response !== "{}"){
                            var obj = $.parseJSON(response);
                            $(".player-type").html("Player " + obj.name);
                            $("#add_sound_players").find("input").attr('checked', false);
                            $("#add_sound_players_" + obj.type).attr('checked', true);

                            if(obj.name == "youtube") {
                                var myId = getId(val);
                                var constructUrlEmbed = "https://www.youtube.com/embed/" + myId;
                                $("#add_sound_link").val(constructUrlEmbed);
                            } else {
                                $("#add_sound_link").val(val);
                            }



                        } else {
                            // testing
                            $("#add_sound_players").find("input").attr('checked', false);
                            $(".player-type").html("Aucun player reconnu");
                        }
                    },

                    error: function (resultat, statut, erreur) {

                    },

                    complete: function (resultat, statut) {

                    }
                });



            }, 500);

            $(this).data('timer', wait);


            function getId(url) {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var match = url.match(regExp);

                if (match && match[2].length == 11) {
                    return match[2];
                } else {
                    return 'error';
                }
            }


        });

    </script>
{% endblock %}